<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<main>
  <mat-toolbar color="primary" class="flex">
    <div class="flex-centered">
      <a routerLink="/home" class="flex toolbar-link">
        <mat-icon aria-hidden="false" aria-label="home icon" title="Home">home</mat-icon>
    </a>
    <span>Vibration API demo</span>
    </div>

    <a routerLink="/about" class="toolbar-link">
      <mat-icon aria-hidden="false" aria-label="about icon" alt="About" title="About me">emoji_people</mat-icon>
    </a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>