html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-width: 350px;
}

a {
    text-decoration: none;
}

section.content {
    max-width: 850px;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    align-items: center;
}

section {
    padding: 1.5rem;
}

// Override mat-step-label in case of no step label.
div.mat-step-label,
div.mat-step-label.mat-step-label-active.mat-step-label-selected {
    min-width: auto;
}